.bg-container {
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dark-bg {
  background-color: black;
  height: 100vh;
  width: 100%;
}
.head-light {
  color: white;
}
.head-dark {
  color: black;
}
.head {
  font-family: 'Roboto';
}
